.div_principal {
    margin-top: 20px;
    border: 5px solid black;
    width: 80vw;
    height: 90vh;
    background-color: white;
    position: relative;
    text-align: center;
    left: 50%;
    margin-left: -40vw;
}

.titulo {
    width: 100%;
    height: 10vh;
    background-color: gray;
    text-align: center;
}

.aba_env_msg {
    width: 60%;
    height: 30%;
    background-color: gray;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -30%;
    border: 5px solid black;

}

.digitar_msg {
    width: 70%;
    height: 80%;
    background-color: white;
    margin-top: 20px;

}

#enviar_msg {
    background-color: blue;
}

.enviar_msg2 {
    background-color: red;
    width: 10%;
    text-align: center;
    right: 0;
    top: 0

}

.texto1 {
    width: 100%;
    height: auto;
    background-color: gray;
    border: 2px solid black;
}

.div_mensagem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 5px;
}